* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #17202A;
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.body__index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.header__index, .header_sobre {
  background-color: #2E4053;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.h1__header__index, .title {
  font-size: 50px;
}

.title a {
  text-decoration: none;
  color: white; 
}

.navBar__ul__index {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  background-color: #2E4053;
}

.navBar_li__index {
  display: inline-block;
}

.navBar__a__index {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navBar__a__index:hover {
  background-color: black;
}

.main-content {
  margin-top: 80px;
  text-align: center;
}

.title__index {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.quizzes-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.quiz__img {
  background-color: white;
  color: black;
  width: 550px;
  height: 550px;
  margin: 10px;
  text-align: center;
  border: 2px solid #17202A;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition: opacity 0.6s;
}

.quiz__img img {
  width: 550px;
  height: 550px;
  object-fit: cover;
}

.quiz__img:hover {
  opacity: 0.8;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #17202A;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.6s;
}

.content a {
  text-decoration: none;
  color: black;
}

.content a:hover {
  color: black; 
}

.quiz__img:hover .content {
  opacity: 1;
}

footer {
  background-color: #2E4053;
  clear: both;
  padding: 10px 0;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: white;
}

.container {
  margin-top: 80px;
  margin-left: 600px;
  margin-bottom: 10px;
  padding: 100px;
  justify-content: center;
  text-align: center;
}

.h2__sobre, .p__sobre {
  width: 50%;
  margin-bottom: 20px;
}